@model ClarkCodingChallenge.Models.Contact

@{
    ViewData["Title"] = "Contacts Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="Contacts" asp-action="Index" method="post">

        <div>
            <label>First Name:</label>
            <input type="text" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div>
            <label>Last Name:</label>
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div>
            <label>Email:</label>
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}